{% extends "core/body.html" %}

{% block page_title %}
List of All Entries
{% endblock %}

{% block breadcrumb %}
<li class="active"> All Entries </li>
{% endblock %}

{% block content %}

{% if cv_entry_list %}
<div class="box">
  <div class="box-header">
    <h3 class="box-title"> Entries </h3>
  </div>
  <div class="box-body table-responsive no-padding">
    <table class="table table-hover" role="grid">
      <thead>
        <tr>
          <th> Type </th>
          <th> Name </th>
          <th> Options </th>
        </tr>
      </thead>
      <tbody>
        {% for cv_entry in cv_entry_list %}
          <tr>
            <th> {{ cv_entry.get_class_name }} </th>
            <th> {{ cv_entry.name }} </th>
            <th>
              <button type="button" class="btn" data-toggle="modal" data-target="#deleteModal{{cv_entry.id}}">
                <i class="fa fa-trash"></i>
                <span>Delete</span>
              </button>
              <button type="button" class="btn" data-toggle="modal" data-target="#editModal{{cv_entry.id}}">
                <i class="fa fa-edit"></i>
                <span>Modify</span>
              </button>

              <a href="{% url 'resumebuilder:entry_view' cv_entry.id %}" class="btn" role="button">
                <i class="fa fa-edit"></i>
              </a>
            </th>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% else %}
    <p>No Entries are available.</p>
{% endif %}

<button class="btn btn-app" data-toggle="modal" data-target="#addModal">
  <i class="fa fa-plus"></i>
  <span> New Entry </span>
</button>

<!-- Add new entry Modal -->
<form action="{% url 'resumebuilder:add_new_entry' %}" method="post">

<div class="modal fade" id="addModal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="pull-right close" data-dismiss="modal">x</button>
        <h4 class="modal-title"> New Entry</h4>
      </div>
      <div class="modal-body">
        {% csrf_token %}
        <select name="entry_type">
          <option value="PersonalEntry">Personal Entry</option>
          <option value="SkillEntry">Skill Entry</option>
          <option value="WorkEntry">Work Entry</option>
          <option value="EducationEntry">Education Entry</option>
          <option value="HobbyEntry">Hobby Entry</option>
        </select>
        <br><br>
      </div>
      <div class="modal-footer">
        <button class="btn" type="submit"> Confirm </button>
        <button type="button" class="btn" data-dismiss="modal"> Cancel </button>
    </div>
  </div>
</div>
</div>
</form>


<!-- Delete modal -->
{% if cv_entry_list %}
{% for cv_entry in cv_entry_list %}
<!-- Modal -->
<div class="modal modal-danger fade" id="deleteModal{{cv_entry.id}}" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="pull-right close" data-dismiss="modal">x</button>
        <h4 class="modal-title"> Delete Entry</h4>
      </div>
      <div class="modal-body">
        <p>This will permanently delete the entry without touching to groups or CVs in which the entry has been added.
          Are you sure you want to delete this entry?
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline" data-dismiss="modal"> Cancel </button>
        <a type="button" class="btn btn-outline pull-left"
        href="{% url 'resumebuilder:delete_entry' cv_entry.id %}">
        Confirm
      </a>
    </div>
  </div>
</div>
</div>

{% load personal_view %}
{% return_modification_form_template cv_entry %}

{% endfor %}
{% endif %}

{% endblock %}
