{% extends "core/body.html" %}
{% load static %}

{% block page_title %}
List of All CVs
{% endblock %}

{% block breadcrumb %}
<li class="active">All CVs</li>
{% endblock %}

{% block content %}
  {% if cv_general_list %}
    <div class="row">
    {% for cv_general in cv_general_list %}
      <div class="col-sm-2 col-md-2">
        <div class="thumbnail">
          <img src={% static "images/resume_preview.svg" %} alt="...">
          <div class="caption">
            <h3>{{ cv_general.name }}</h3>
            <p>
              <a href="{% url 'resumebuilder:cv_view' cv_general.id %}" class="btn" role="button">
                <i class="fa fa-edit"></i>
                <span>Edit</span>
              </a>
              <a href="#" class="btn" role="button">
                <i class="fa fa-file-pdf-o"></i>
                <span>PDF</span>
              </a>
              <a class="btn" role="button"
                  data-toggle="modal" data-target="#deleteModal{{cv_general.id}}">
                <i class="fa fa-trash"></i>
                <span>Delete</span>
              </a>
            </p>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>

  {% else %}
    <p>No CVs are available.</p>
  {% endif %}

  <form action="{% url 'resumebuilder:add_new_cv' %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Add" />
  </form>


  {% if cv_general_list %}
  {% for cv_general in cv_general_list %}
  <!-- Modal -->
  <div class="modal modal-danger fade" id="deleteModal{{cv_general.id}}" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="pull-right close" data-dismiss="modal">x</button>
          <h4 class="modal-title">Delete CV</h4>
        </div>
        <div class="modal-body">
          <p>This will definitely delete the CV. Entries belonging to the CV will remain untouched.
            Are you sure you want to delete this CV?
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline" data-dismiss="modal"> Cancel </button>
          <a type="button" class="btn btn-outline pull-left"
          href="{% url 'resumebuilder:delete_cv' cv_general.id %}" >
          Confirm
          </a>
       </div>
    </div>
  </div>
  </div>
  {% endfor %}
  {% endif %}

{% endblock %}
