<!-- Modal -->
<!-- TODO: Load data with Javascript -->
<div class="modal fade" id="editModal{{cv_entry.id}}" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="pull-right close" data-dismiss="modal">x</button>
        <h4 class="modal-title">Edit Entry</h4>
      </div>
      <div class="modal-body">
        {{ cv_entry.get_form.as_p }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal"> Cancel </button>
        <button type="submit" class="btn pull-left">
        Confirm Changes
        </button>
    </div>
  </div>
</div>
</div>
