<!-- Modal -->
<div class="modal fade" id="editModal{{cv_entry.id}}" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="pull-right close" data-dismiss="modal">x</button>
        <h4 class="modal-title">Edit Entry</h4>
      </div>
      <div class="modal-body">
        {% for field in cv_entry.get_form %}
          <div class="form-group">
            {{ field.errors }}
            <label> {{ field.label }} </label>
            <span class="">
              {{ field }}
            </span>
            {% if field.help_text %}
              <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
          </div>
        {% endfor %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal"> Cancel </button>
        <button type="submit" class="btn pull-left">
        Confirm Changes
        </button>
    </div>
  </div>
</div>
</div>
