{% extends "core/body.html" %}

{% block page_title %}
Modify entry_view
{% endblock %}

{% block breadcrumb %}
<li> <a href = {% url 'resumebuilder:all_entrys' %}> All Entries </a> </li>
<li> <a href = "{% url 'resumebuilder:entry_view' cv_entry.id %}"> {{ cv_entry.name }} </a> </li>
<li class="active"> Modify </li>
{% endblock %}

{% block content %}
<form action="{% url 'resumebuilder:modify_entry' cv_entry.id %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />
</form>
{% endblock %}
